[defaults]
inventory = inventories/production/hosts.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml
roles_path = roles

[ssh_connection]
pipelining = True
